body {
  background-color: rgb(240, 240, 240);
  color: #333333;
  font-family: Arial, sans-serif;
  height: 100vh;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
}

Navbar {
  display: inline-block;
  color: yellow;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
  bottom: 0;
}
